.centered {
    text-align: center;
}

.w {
    width: 500px;
    margin: auto;
}

.cell {
    /* border: 1px solid #000000; */
    background-color: blanchedalmond;
}

button {
    height: 30px;
    width: 250px;
    font-size: medium;
    display: inline-block;
}

.row {
    display: inline-block;
}